@page
@model FuelManagement.Pages.User.IndexModel
@{
}


<div class="card">
	<div class="card-body">
		<div class="container">
			<div class="row mb-3">
				<div class="col-md-6">
				
					<form method="get">
						<div class="input-group mb-3">
							<input type="text" name="Search" value="@Model.Search" class="form-control" placeholder="Search..." />
							@if (!string.IsNullOrEmpty(Model.Search))
							{
								<a asp-page="./Index" class="btn btn-primary">Clear</a>
							}
							else
							{
								<button type="submit" class="btn btn-primary">Search</button>
							}
						</div>
					</form>
				</div>
				<div class="col-md-6 text-right">
					<a class="btn btn-primary" asp-page="./create-user">Create User</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table table-responsive">
						<thead class="table-dark">
							<tr>
								<th>S.NO</th>
								<th>Name</th>
								<th>Role</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@{
								var Index = 1;
							}
							@foreach (var user in Model.lstusers)
							{
								<tr>
									<td>@Index</td>
									<td>@user["name"]</td>
									<td>@user["role"]</td>
									<td>
										<div class="dropdown">
											<button class="btn btn-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="fa-solid fa-ellipsis-vertical"></i>
											</button>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item edit-fuel"
													   asp-page="./create-user" asp-route-id="@user["id"]">Edit</a>
												</li>
												<li>
													<a class="dropdown-item text-danger"
													   onclick="confirmDelete('@Url.Page("./Index", new {handler="Delete",id=@user["id"]})')">Delete</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								Index++;
							}


						</tbody>
					</table>
				</div>
			
				<div class="col-md-12 ">
					<nav class="float-end">

						<ul class="pagination">
							@if (Model.PageNumber > 1)
							{
								<li class="page-item">
									<a class="page-link" asp-page="./Index" asp-route-Search="@Model.Search" asp-route-PageNumber="@(Model.PageNumber - 1)">Previous</a>
								</li>
							}

							@for (int i = 1; i <= Model.TotalPages; i++)
							{
								<li class="page-item @(i == Model.PageNumber ? "active" : "")">
									<a class="page-link" asp-page="./Index" asp-route-Search="@Model.Search" asp-route-PageNumber="@i">@i</a>
								</li>
							}

							@if (Model.PageNumber < Model.TotalPages)
							{
								<li class="page-item">
									<a class="page-link" asp-page="./Index" asp-route-Search="@Model.Search" asp-route-PageNumber="@(Model.PageNumber + 1)">Next</a>
								</li>
							}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script>
		function confirmDelete(url) {
			Swal.fire({
				title: 'Are you sure?',
				text: "This action cannot be undone!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes, delete it!',
				cancelButtonText: 'Cancel'
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = url; // redirects to OnGetDelete
				}
			});
		}
	</script>
}