@page
@model FuelManagement.Pages.issue_fuel.IndexModel
@{
}


<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <form method="get">
                        <div class="input-group mb-3">
                            <input type="text" name="Search" value="@Model.Search" class="form-control" placeholder="Search fuel types..." />
                            @if (!string.IsNullOrEmpty(Model.Search))
                            {
                                <a asp-page="./Index" asp-page-handler="cancel" class="btn btn-primary">Clear</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Search</button>
                            }
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <a asp-page="./create-issue-fuel" class="btn btn-primary">Issue Fuel</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive">
                        <thead class="table-dark">
                            <tr>
                                <th>S.No</th>
                                <th>Date</th>
                                <th>Code</th>

                                <th>Fuel Type</th>
                                <th>Vehicle No</th>
                                <th>Driver</th>
                                <th>Meter Reading</th>
                                <th>Issued Qty</th>
                                <th>Balance After</th>
                                <th>Issuer </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var index = Model.PageNumber > 1 ? ((Model.PageNumber - 1) * Model.PageSize) + 1 : 1;
                            }
                            @foreach (var tank in Model.lstfuelissuehistory)
                            {
                                <tr>
                                    <td>@index</td>
                                    <td>@(DateTime.Parse(tank["issue_date"].ToString()).ToString("MMM dd yyyy"))</td>
                                    <td>@tank["tank_code"]</td>
                                    <td>@tank["tank_fuel_type"] </td>
                                    <td>@tank["vehicle_number"] </td>
                                    <td>@tank["driver_name"] </td>
                                    <td>@tank["odometer_reading"] </td>
                                    <td>@tank["quantity"]</td>
                                    <td>@tank["balance_after"]</td>
                                    <td>@tank["issuer_name"]</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item edit-fuel"
                                                       asp-page="./create-issue-fuel" asp-route-id="@tank["id"]">View Details</a>
                                                </li>
                                                @* <li> *@
                                                @*     <a class="dropdown-item text-danger" *@
                                                @*        onclick="confirmDelete('@Url.Page("./Index", new {handler="Delete",id=@tank["id"]})')">Delete</a> *@
                                                @* </li> *@
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <nav class="float-end">
                        <ul class="pagination">
                            @if (Model.PageNumber > 1)
                            {
                                <li class="page-item">
                                    <a asp-page="./Index" class="page-link" asp-route-Search="@Model.Search" asp-route-PageNumber="@(Model.PageNumber -1)">Previous</a>
                                </li>
                            }
                            @for (int i = 1; i < Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                    <a asp-page="./Index" class="page-link" asp-route-Search="@Model.Search" asp-route-PageNumber="@i">@i</a>
                                </li>
                            }
                            @if (Model.PageNumber < Model.TotalPages)
                            {
                                <li class="page-item">
                                    <a asp-page="./Index" class="page-link" asp-route-Search="@Model.Search" asp-route-PageNumber="@(Model.PageNumber+1)">Next</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>